/* Estilos mantidos do seu código original */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f0f0f0;
            color: #333;
            line-height: 1.6;
        }

        /* Modal Style */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 30px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 10px;
            position: relative; /* Garante que o conteúdo do modal esteja centralizado */
            top: 10%; /* Centraliza verticalmente o modal */
            transform: translateY(-10%); /* Ajusta levemente a posição para garantir visibilidade */
        }

        .modalSuporte {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 30px;
        }

        .modalSuporte-content {
            background-color: #fefefe;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 10px;
            position: relative; /* Garante que o conteúdo do modal esteja centralizado */
            top: 10%; /* Centraliza verticalmente o modal */
            transform: translateY(-10%); /* Ajusta levemente a posição para garantir visibilidade */
        }

        /* Modal Price Style */
        .modalPrice {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 30px;
        }

        .modalPrice-content {
            background-color: #fefefe;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius: 10px;
            position: relative; /* Garante que o conteúdo do modal esteja centralizado */
            top: 10%; /* Centraliza verticalmente o modal */
            max-width: 1000px;
            max-height: 1000px;
            width: 1000px;
            height: 500px;
            max-width: none; /* Remove a limitação do max-width */
            transform: translateY(-20%); /* Ajusta levemente a posição para garantir visibilidade */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .input {
            max-width: 200px;
            min-height: 30px;
            padding: 10px;
            font-family> monospace;
            outline: none;
            background-color: #e8e8e8;
            border: none;
            border-radius: 10px;
            transition: all .5s;
        }

        .header {
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            padding: 15px 0;
            margin-bottom: 30px;
            position: relative;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffaeae;
            font-family: 'Lucida Sans', sans-serif;
        }

        .logo img {
            height: 40px;
            margin-right: 10px;
        }

        .nav-links {
            display: flex;
            list-style: none;
        }

        .nav-links li {
            margin-left: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #030303;
            font-weight: 500;
            transition: color 0.3s ease;
        }



        .nav-links a:hover {
            color: #FF0000;
        }

        .user-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 15px;
            right: 20px;
        }

        .user-image {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ffaeae;
            margin-bottom: 10px;
        }

        .user-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .user-buttons {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .user-buttons a {
            text-decoration: none;
            color: #030303;
            font-weight: 500;
            transition: color 0.3s ease;
            text-align: center;
            padding: 5px 10px;
            border: 2px solid #ffaeae;
            border-radius: 5px;
            cursor: pointer;
        }

        .user-buttons a:hover {
            background-color: #ffaeae;
            color: #ffffff;
        }

        .main-content {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            padding: 40px;
            text-align: center;
        }

        h1 {
            color: #030303;
            font-size: 2.5rem;
            margin-bottom: 20px;
            position: relative;
        }

        .text_suport {
            font-weight: bold;
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: #FF0000;
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: #FF0000;
        }

        .txt {
            color: #606060;
            font-size: 1.2rem;
            margin-top: 20px;
            font-weight: bold;
        }

        /* Centralizar o elemento h2 com a classe centralizado */
        h2.centralizado {
            text-align: center;
        }

        h1::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: #FF0000;
        }

        .red-line::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: #FF0000;
        }

        .subtitle {
            color: #606060;
            font-size: 1.2rem;
            margin-top: 20px;
        }

        .input-section {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .input-group {
            display: flex;
            width: 100%;
            max-width: 600px;
        }

        .input-group input {
            flex-grow: 1;
            padding: 12px 15px;
            font-size: 1rem;
            border: 2px solid #d3d3d3;
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .input-group button {
            padding: 12px 25px;
            background-color: #FF0000;
            color: white;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .input-group button:hover {
            background-color: #CC0000;
        }

        .box-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        .box {
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: calc((100% - 40px) / 3);
            height: 500px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 20px;
        }

        .price-boxes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 20px;
        }

        .price-box {
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
            height: 500px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            padding: 20px;
            text-align: center;
        }

        .price-box img {
            transition: transform 0.3s ease;
        }

        .price-box img:hover {
            transform: scale(1.1);
        }

        .custom-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            font-family: 'Arial', serif;
            font-size: 1.2rem;
            color: #ffaeae;
            background-color: #ffffff;
            border: 2px solid #ffaeae;
            border-radius: 25px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .custom-button:hover {
            background-color: #ffaeae;
            color: #ffffff;
        }

        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        .footer-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .footer-links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 10px;
        }

        .footer-links a {
            color: #ffaeae;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .footer-links a:hover {
            color: #FF0000;
        }

        .footer-text {
            font-size: 0.9rem;
            margin-top: 10px;
        }

        .logo-button {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffaeae;
            font-family: 'Lucida Sans', sans-serif;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            margin: 0;
            padding: 0;
        }

        .logo-button {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffaeae;
            font-family: 'Lucida Sans', sans-serif;
            text-decoration: none;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            margin: 0;
            padding: 0;
        }



        .custom-button.new-action-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-family: 'Arial', serif;
            font-size: 1.2rem;
            color: #fff;
            background-color: #ffaeae;
            border: 2px solid #ffaeae;
            border-radius: 25px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .custom-button.new-action-btn:hover {
            background-color: #ff7f7f;
            transform: scale(1.05);
        }

        @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                text-align: center;
            }

            .nav-links {
                margin-top: 15px;
                flex-direction: column;
                align-items: center;
            }

            .nav-links li {
                margin: 10px 0;
            }

            .input-group {
                flex-direction: column;
            }

            .input-group input,
            .input-group button {
                width: 100%;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .box-container {
                flex-direction: column;
                align-items: center;
            }

            .box {
                width: 100%;
                margin-bottom: 10px;
            }

            .price-boxes {
                flex-direction: column;
            }

            .user-section {
                position: static;
                flex-direction: row;
                gap: 10px;
            }
        }

        .grid-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px; /* Espaçamento entre os itens */
        }

        .grid-item {
            flex: 1 1 45%; /* Faz com que cada item ocupe cerca de 45% da largura do contêiner */
            max-width: 45%;
            text-align: center;
            background-color: #fff; /* Cor de fundo branca para destacar */
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin: 10px 0;
        }

        @media (max-width: 768px) {
            .grid-item {
                flex: 1 1 100%; /* Em telas menores, cada item ocupa 100% da largura */
                max-width: 100%;
            }
        }

        /* Estilo para o botão "Cadastrar" */
        button[type="submit"] {
            background-color: #FF0000;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 25px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            display: block; /* Garante que o botão seja um elemento de bloco */
            margin: 20px auto; /* Centraliza o botão e adiciona espaçamento vertical */
        }

        button[type="submit"]:hover {
            background-color: #CC0000;
            transform: scale(1.05);
        }

        .or-text {
            text-align: center;
            margin: 10px 0;
            font-weight: bold;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .social-button {
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .social-button.google {
            background-color: #db4437; /* Cor do Google */
            color: white;
        }

        .social-button.facebook {
            background-color: #3b5998; /* Cor do Facebook */
            color: white;
        }

        .social-button:hover {
            opacity: 0.8;
        }

        <style>
    /* Outros estilos existentes */

    /* Estilo ajustado para o botão "INDEXAR VÍDEO" */
    #indexarBtn.custom-button.new-action-btn {
        background-color: #e0e0e0; /* Cor de fundo mais suave */
        color: #666; /* Cor do texto menos destacada */
        border: 5px solid #ccc; /* Borda mais suave */
        padding: 8px 16px !important; /* Reduz a altura e largura do botão */
        border-radius: 5px !important; /* Menos arredondado */
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    #indexarBtn.custom-button.new-action-btn:hover {
        background-color: #d3d3d3; /* Cor levemente alterada no hover */
        transform: scale(1.02); /* Pequena animação no hover */
    }

    /* Estilo destacado para o botão "TRANSCREVER" */
    #transcreverBtn {
        background-color: #ff4c4c; /* Cor de fundo mais vibrante */
        color: #fff; /* Cor do texto em branco */
        border: 2px solid #ff1c1c; /* Borda mais intensa */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    #transcreverBtn:hover {
        background-color: #cc0000; /* Cor mais intensa no hover */
        transform: scale(1.05); /* Aumento mais perceptível no hover */
    }

    .destaque {
            color: #FF4500; /* Cor do texto em laranja */
            font-weight: bold; /* Texto em negrito */
        }

    .recover-password-btn {
        background: none;
        border: none;
        color: #4F4B4A;
        cursor: pointer;
        font-size: 0.9em;
        text-decoration: underline;
        display: block;
        margin-top: 10px;
        text-align: left;
    }

    .recover-password-btn:hover {
        color: #211F1F;
    }

    /* Estilos para os botões do modal de saída */
.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-confirm {
    background-color: #d3d3d3; /* Cor laranja para confirmar */
    color: #333;
    border: 2px solid #a9a9a9; /* Borda mais escura */
}

.btn-cancel {
    background-color: #d3d3d3; /* Cor cinza para cancelar */
    color: #333;
    border: 2px solid #a9a9a9; /* Borda cinza escuro */
}

.btn-confirm:hover {
    background-color: #c0c0c0; /* Cor mais intensa no hover */
    transform: scale(1.05); /* Pequeno aumento no hover */
}

.btn-cancel:hover {
    background-color: #c0c0c0; /* Cor levemente alterada no hover */
    transform: scale(1.05); /* Pequeno aumento no hover */
}

.profile-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold; /* Destaca o rótulo */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #ffaeae; /* Cor da borda ao focar */
}