
    <div id="modalRecupere" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">RECUPERAR SENHA</h2>
            <form id="recupereForm" method="POST">
                <label for="loginemailrecupere">Nova Senha:</label><br>
                <input type="password" class="input" placeholder="Senha" id="loginemailrecupere" name="email" required><br><br>
                <label for="loginpasswordrecupere">Repita a senha:</label><br>
                <input type="password" class="input" placeholder="Repita a senha" id="loginpasswordrecupere" name="password" required><br><br>
                <button type="submit">Registrar</button>
                <br>
                <br>
            </form>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>