<!-- Modal de Cadastro -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">Cadastro</h2>
            <form id="registerForm" method="POST">
                <label for="name">Nome:</label><br>
                <input type="text" class="input" placeholder="Nome" id="name" name="name" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" class="input" placeholder="Email" id="email" name="email" required><br><br>
                <div id="error-message" style="display: none; color: red;"></div>
                <label for="password">Senha:</label><br>
                <input type="password" class="input" placeholder="Senha" id="password" name="password" required><br><br>
                <label for="password">Repita a Senha:</label><br>
                <input type="password" class="input" placeholder="Senha" id="passwordrepeat" name="passwordrepeat" required><br><br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>