<!-- Modal de Confirmação de Saída -->
<div id="myModalExit" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="txt centralizado">Tem certeza que deseja sair?</h2>
        <div class="button-group">
            <button type="button" id="btnYes" class="btn-confirm">Sim</button>
            <button type="button" id="btnNo" class="btn-cancel">Não</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Certifique-se de que o modal exista
        var modalExit = document.querySelector("#myModalExit");

        if (modalExit) {
            var btnExit = document.querySelector("#btnExit");
            var btnYes = document.querySelector("#btnYes");
            var btnNo = document.querySelector("#btnNo");
            var spanClose2 = modalExit.querySelector(".close");

            // Função para abrir o modal de saída
            function abrirModalExit() {
                modalExit.style.display = "block";
            }

            // Evento para abrir o modal ao clicar em "Sair"
            if (btnExit) {
                btnExit.addEventListener('click', function(event) {
                    event.preventDefault();
                    abrirModalExit();
                });
            }

            // Evento para fechar o modal ao clicar em "Não" ou no ícone de fechar
            if (btnNo) {
                btnNo.addEventListener('click', function() {
                    modalExit.style.display = "none";
                });
            }

            if (spanClose2) {
                spanClose2.addEventListener('click', function() {
                    modalExit.style.display = "none";
                });
            }

            // Evento para confirmar a saída e redirecionar para index.html
            if (btnYes) {
                btnYes.addEventListener('click', function() {
                    window.location.href = '/'; // Redireciona para a página inicial
                });
            }
        } else {
            console.error("Modal '#myModalExit' não encontrado.");
        }
    });
</script>

