<!-- Modal de Confirmação de Saída -->
<div id="myModalExit" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="txt centralizado">Tem certeza que deseja sair?</h2>
        <div class="button-group">
            <button type="button" id="btnYes" class="btn-confirm">Sim</button>
            <button type="button" id="btnNo" class="btn-cancel">Não</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>