<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>como usar</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ethiopic+Condensed&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="logo-button" id="logoButton">LEGENDAS</a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('como_usar') }}" >Como Usar</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="user-section">
                <div class="user-image">
                    <img src="{{ url_for('static', filename='images/user.png') }}" alt="Imagem do Usuário">
                </div>
                <div class="user-buttons">
                    <a id="loginBtn">Entrar</a>
                    <a id="cadastrarBtn">Cadastrar</a>
                </div>
            </div>
        </nav>
    </header>


    <br>
    <br>
    <div class="container">
        <div>
            <h2 class="txt">Acelere sua produtividade e poste dezenas de shorts diários. Nosso software automatiza a criação de legendas, permitindo que você se concentre na criação de conteúdo de alta qualidade. Por exemplo, se você leva 30 minutos para legendar um vídeo de um minuto, nosso software pode reduzir esse tempo para apenas alguns minutos, liberando horas preciosas.
            </h2>
        </div>
        <br>
        <br>
        <div class="grid-container">
            <div class="grid-item">
                <h2>INSIRA O LINK DE UM VÍDEO DO YOUTUBE</h2>
                <img src="{{ url_for('static', filename='images/ex4.png') }}" alt="Imagem Sem Tratamento" width="300">
            </div>
            <div class="grid-item">
                <h2>CLIQUE EM PESQUISAR</h2>
                <img src="{{ url_for('static', filename='images/ex5.png') }}" alt="Imagem Sem Tratamento" width="300">
            </div>
            <div class="grid-item">
                <h2>OU INSIRA UM VÍDEO A PARTIR DO COMPUTADOR</h2>
                <img src="{{ url_for('static', filename='images/ex6.png') }}" alt="Imagem Sem Tratamento" width="300">
            </div>
            <div class="grid-item">
                <h2>CLIQUE EM TRANSCREVER E VEJA A MÁGICA ACONTECER</h2>
                <img src="{{ url_for('static', filename='images/ex7.png') }}" alt="Imagem Sem Tratamento" width="300">
            </div>
        </div>
    </div>



    <div class="container">
        <br>
        <br>
        <br>
        <div>
            <h2 class="txt">Com 90 bilhões de visualizações diárias no YouTube em 2024 e uma expectativa de dobrar em 2025, a hora de agir é agora! Essa explosão de visualizações representa uma oportunidade de ouro para criadores de conteúdo como você.
            </h2>
        </div>
        <br>
        <br>
        <br>
        <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 20px;">
                <div style="text-align: center;">
                    <img src="{{ url_for('static', filename='images/ex2.png') }}" alt="Imagem Sem Tratamento" width="300">
                </div>
                <img src="{{ url_for('static', filename='images/flecha.png') }}" alt="Imagem Com Tratamento" width="150">
                <div style="text-align: center;">
                    <img src="{{ url_for('static', filename='images/ex2leg.png') }}" alt="Imagem Com Tratamento" width="300">
                </div>
            </div>
        <br>
        <br>
        <div>
            <h2 class="txt">Turbine seus ganhos no YouTube Shorts agora! Nosso software de transcrição e legenda, turbinado por IA e PLN (Processamento de Linguagem Natural), é a chave para maximizar seus lucros do Adsense. Imagine aumentar sua receita simplesmente tornando seus vídeos mais acessíveis e envolventes.
            </h2>
        </div>
    </div>
    <br>


    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <a href="{{ url_for('termos_de_servico') }}">Termos de Serviço</a>
                <a href="{{ url_for('politica_de_privacidade') }}">Política de Privacidade</a>
                <a href="#">Contato</a>
                <a href="{{ url_for('sobre_nos') }}">Sobre Nós</a>
            </div>
            <p class="footer-text">© 2024 Horn Corp. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Modal de Contato -->
    <div id="myModalContato" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Suporte</h2>
            <br>
            <br>
            <h2 class="txt centralizado">E-mail: wellihorn616@gmail.com</h2>
            <br>
            <h2 class="txt centralizado">whatsaap: (51)998889364</h2>

        </div>
    </div>

    <!-- Inclua o modal de cadastro -->
    {% include '_register_modal.html' %}

    <!-- Inclua o modal de login -->
    {% include '_login_modal.html' %}


    <div id="myModalSuporte" class="modalSuporte">
        <div class="modalSuporte-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">Cadastro</h2>

        </div>
    </div>

    <!-- Modal de price -->
    <div id="myModalPrice" class="modalPrice">
        <div class="modalPrice-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">Cadsfdfvbzdvbzdfvbzdvbzvbzvbzdfbvdastro
            svdcvdcvbdvsdvsdfv</h2>
            <br>
            <h2 class="txt centralizado">Cadsfdfvbzdvbzdfvbzdvbzvbzvbzdfbvdastro
            svdcvdcvbdvsdvsdffdvdfvdfvkjsdnfvljksdnfvçskldfnvkçsdlfv dfkjnsdfkjbnsdlfkbmsdfbdsfb sdflkvbsndçfkjnvsdfçk
                lvmsd;lkmv;lsdkfmvs;lkdfbkçsjdfbsdfb dsf.kjbnsdkjfçnbsdlçkfmbsdfbv</h2>
            <br>
            <br>
            <div class="price-boxes">
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price1.png') }}" alt="Price Option 1" width="120">
                <a class="custom-button sign-button">Assinar</a>
            </div>
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price2.png') }}" alt="Price Option 2" width="150">
                <a class="custom-button sign-button">Assinar</a>
            </div>
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price3.png') }}" alt="Price Option 3" width="150">
                <a class="custom-button sign-button">Assinar</a>
            </div>
        </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>