<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Serviço</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ethiopic+Condensed&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="logo-button" id="logoButton">LEGENDAS</a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('como_usar') }}" >Como Usar</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div class="user-section">
                <div class="user-image">
                    <img src="{{ url_for('static', filename='images/user.png') }}" alt="Imagem do Usuário">
                </div>
                <div class="user-buttons">
                    <a id="loginBtn">Entrar</a>
                    <a id="cadastrarBtn">Cadastrar</a>
                </div>
            </div>
        </nav>
    </header>

    <br>
    <br>
    <div class="container">
        <div>
            <h2 class="txt">Bem-vindo ao site "LEGENDAS". Ao acessar e utilizar este site, você concorda em cumprir e estar vinculado aos seguintes termos e condições de uso, que, juntamente com nossa política de privacidade, regem o relacionamento do site com você. Se você discordar de qualquer parte destes termos, por favor, não utilize nosso site.
            </h2>
        </div>
        <br>
        <h1></h1>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Uso do Serviço</h3>
        </div>
        <h2 class="txt">Este serviço é destinado a fornecer transcrições de vídeos em diferentes formatos. Os usuários
            devem garantir que têm os direitos apropriados para usar o conteúdo fornecido para transcrição.</h2>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Propriedade Intelectual</h3>
        </div>
        <h2 class="txt">Todo o conteúdo, design e layout deste site são propriedade da Horn Corp., e estão protegidos
            por leis de direitos autorais. Qualquer reprodução ou redistribuição de qualquer parte do conteúdo é
            estritamente proibida, exceto com permissão expressa por escrito.</h2>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Limitações de Responsabilidade</h3>
        </div>
        <h2 class="txt">A Horn Corp. não se responsabiliza por perdas ou danos indiretos ou consequenciais que possam
            surgir do uso deste site.</h2>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Alterações nos Termos</h3>
        </div>
        <h2 class="txt">Reservamo-nos o direito de alterar estes termos a qualquer momento. É sua responsabilidade
            revisar os termos regularmente.</h2>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Resolução de Disputas</h3>
        </div>
        <h2 class="txt">Quaisquer disputas relacionadas ao uso deste site serão regidas pelas leis do Brasil, e você
            concorda em submeter-se à jurisdição exclusiva dos tribunais brasileiros.</h2>
        <br>
        <br>
        <br>
        <div>
            <h3 style="font-size: 2rem; color: #000000; font-weight: bold; font-family: 'Arial', sans-serif;">Contato</h3>
        </div>
        <h2 class="txt">Para quaisquer dúvidas ou preocupações sobre estes Termos de Serviço, entre em contato através
            do e-mail wellihorn616@gmail.com ou pelo WhatsApp no número (51)998889364.</h2>
    </div>
    <br>
    <br>



    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <a href="{{ url_for('termos_de_servico') }}">Termos de Serviço</a>
                <a href="{{ url_for('politica_de_privacidade') }}">Política de Privacidade</a>
                <a href="#">Contato</a>
                <a href="{{ url_for('sobre_nos') }}">Sobre Nós</a>
            </div>
            <p class="footer-text">© 2024 Horn Corp. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Modal de Contato -->
    <div id="myModalContato" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Suporte</h2>
            <br>
            <br>
            <h2 class="txt centralizado">E-mail: wellihorn616@gmail.com</h2>
            <br>
            <h2 class="txt centralizado">whatsaap: (51)998889364</h2>

        </div>
    </div>

    <!-- Inclua o modal de cadastro -->
    {% include '_register_modal.html' %}

    <!-- Inclua o modal de login -->
    {% include '_login_modal.html' %}


    <div id="myModalSuporte" class="modalSuporte">
        <div class="modalSuporte-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">Cadastro</h2>

        </div>
    </div>

    <!-- Modal de price -->
    <div id="myModalPrice" class="modalPrice">
        <div class="modalPrice-content">
            <span class="close">&times;</span>
            <h2 class="txt centralizado">Cadsfdfvbzdvbzdfvbzdvbzvbzvbzdfbvdastro
            svdcvdcvbdvsdvsdfv</h2>
            <br>
            <h2 class="txt centralizado">Cadsfdfvbzdvbzdfvbzdvbzvbzvbzdfbvdastro
            svdcvdcvbdvsdvsdffdvdfvdfvkjsdnfvljksdnfvçskldfnvkçsdlfv dfkjnsdfkjbnsdlfkbmsdfbdsfb sdflkvbsndçfkjnvsdfçk
                lvmsd;lkmv;lsdkfmvs;lkdfbkçsjdfbsdfb dsf.kjbnsdkjfçnbsdlçkfmbsdfbv</h2>
            <br>
            <br>
            <div class="price-boxes">
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price1.png') }}" alt="Price Option 1" width="120">
                <a class="custom-button sign-button">Assinar</a>
            </div>
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price2.png') }}" alt="Price Option 2" width="150">
                <a class="custom-button sign-button">Assinar</a>
            </div>
            <div class="price-box">
                <img src="{{ url_for('static', filename='images/price3.png') }}" alt="Price Option 3" width="150">
                <a class="custom-button sign-button">Assinar</a>
            </div>
        </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>